extend layout

block content 
    h1=title 

    ul 
    each author in allAuthorList 
        li 
            a(href=author.url) #{author.name}
            | (#{author.date_of_brith} - #{author.date_of_death}) 
    
    else 
        li There are no authors.